{% extends "base.html" %}

{% block content %}
	{% if msg %}
		<div style="color:red;"> {{ msg }}</div>
    {% endif %}
	
	<div>
		{% if user_type == 2 %}
			<a href="/department?Department_ID=new">Create new Department</a>
		{% else %}
			All Department Information
		{% endif %}
	</div>

	<table>
		<tr>
			<td>Department ID</td>
			<td>Department Name</td>
			<td>Department Type</td>
			<td>Department Members</td>
		</tr>
		{% for row in table %}
			<tr>
				{% if user_type == 2 %}
					<td><a href="/department?Department_ID={{ row.Department_ID }}">{{ row.Department_ID }}</a></td>
				{% else %}
					<td>{{ row.Department_ID }}</td>
				{% endif %}
				<td>{{ row.Department_Name }}</td>
				<td>{{ row.Department_Type }}</td>
				<td><a href='/users_by_department?Dep_ID={{ row.Department_ID }}'>View Members</a></td>
			</tr>
		{% endfor %}
		
	</table>
{% endblock %}